html {
  --slds-c-card-color-background: white;
  --panel-background-color: white;
  --panel-text-color: black;
}

html.dark-mode {
  --color-dark-mode-background: #272727;
  --color-dark-mode-text: #ffffff;
  --color-dark-mode-1: #3f3f3f;
  --color-dark-mode-2: #575757;
  --color-dark-mode-3: #6b6b6b;
  --color-dark-mode-4: #949494;
  --color-dark-mode-5: #c4c4c4;



  background: var(--color-dark-mode-background);

  --slds-c-card-color-background: var(--color-dark-mode-2);
  --slds-c-card-text-color: var(--color-dark-mode-5);

  --slds-c-button-neutral-color-background: var(--color-dark-mode-3);
  --slds-c-button-text-color: var(--color-dark-mode-5);

  --panel-background-color: var(--color-dark-mode-1);
  --panel-text-color: var(--color-dark-mode-5);

  /*color: var(--color-dark-mode-text) !important;*/
}

.dark-mode * {
  
}

.slds-panel {
  background-color: var(--panel-background-color);
  color: var(--panel-text-color);
}

/*
html.dark-mode html.dark-mode .slds-card article.slds-card.slds-card {

  background-color: #55ff22;
}
*/
