<!-- public/components/custom-paragraph/custom-paragraph.html -->
<template id="template-main">
  <style>
    /* Add SLDS styling for your component here */
  </style>
  <slds-spinner size="x-small" hidden></slds-spinner>
  <slot name="placeholder-content"></slot>
</template>
<template id="template-non-editable">
  <div id="content"></div>
</template>

<template id="template-editable">
  <slds-card no-footer no-header >
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_1-of-3">
        <label for="id">ID</label>
        <input type="text" id="id" />
      </div>
      <div class="slds-col slds-size_1-of-3">
        <label for="storyId">Story ID</label>
        <input type="text" id="storyId" />
      </div>
      <div class="slds-col slds-size_1-of-3">
        <label for="chapterId">Chapter ID</label>
        <input type="text" id="chapterId" />
      </div>
      
      <div class="slds-col slds-size_1-of-3">
        <label for="name">Name</label>
        <input type="text" id="name" />
      </div>
      <!--       <div class="slds-col slds-size_1-of-3">
        <label for="textContent">Content</label>
        <textarea id="textContent"></textarea>
      </div> -->
      <div class="slds-col slds-size_1-of-3">
        <label for="htmlContent">HTML Content</label>
        <textarea id="htmlContent"></textarea>
      </div>
      
      <div class="slds-col slds-size_1-of-3">
        <label for="sortnumber">Sort Number</label>
        <input type="number" id="sortnumber" />
      </div>
      <div class="slds-col slds-size_1-of-3">
        <label for="lastupdate">Last Update</label>
        <input type="datetime" id="lastupdate" />
      </div>
      <div class="slds-col slds-size_1-of-3">
        <label for="publishdate">Publish Date</label>
        <input type="datetime" id="publishdate" />
      </div>
      
      <div class="slds-col slds-size_1-of-12">
        <slds-input id="testInput" type="text" label="Testinput" value="abcde" ></slds-input>
      </div>
      
      <div class="slds-col slds-size_1-of-12 slds-col_bump-right">
        <slds-input id="datePublish" type="date" label="Publish Date" ></slds-input>
      </div>
      <div class="slds-col slds-size_1-of-1">
        <slds-input id="textContent" type="textarea" label="Content" ></slds-input>
      </div>
      <div class="slds-col slds-size_1-of-12 slds-col_bump-left">
        <slds-button-icon id="button-save" icon="utility:save" variant="container-filled" >
        </div>
      </div>
    </slds-card>
  </template>
